* {
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  margin-left: 90px;
  padding-top: 10px;
}

.column2 {
  float: left;
  margin-left: 10px;
  padding-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('../img/bg3.jpg');
  background-repeat: repeat;
  background-size: cover;
}

img {
  object-fit: cover;
  display: block;
}

.main-content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
}

.container {
  position: sticky;
  top: 0;
}

.sidebar2 {
  width: 45px;
  margin: auto;
}

#row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50em
}

#me img {
  border: 5px solid #FFFFFF;
  width: 300px;
  height: 450px;
}

#name,
.tracker {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
  color: white;
  letter-spacing: 5px;
}

#name {
  font-size: 34px;
  padding-top: 8px;
}

.tracker {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: grey;
  color: honeydew;
}

button:hover {
    background-color: lightblue;
    color: white;
}

h2 {
    color: white;
    margin: 0 20px;
    font-size: 40px;
}
 
/*apply css properties to h1 tag*/
 
h1 {
    font-size: 35px;
    color: green;
    text-align: center;
    padding-left: 10%;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50em
}

.card {
  background-image: url('../img/nope.jpg');
  background-size: cover;
  width: 80px;
  height: 80px;
}

.card img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.card.flipped img {
  display: none;
}

/* Media Queries */
@media (min-width: 1300px) {
  .main-content {
    max-width: 1500px;
    margin: auto;
  }
}
