* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('../img/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  object-fit: cover;
  display: block;
}

.main-content {
  display: flex;
  margin: auto;
}

.sidebar {
  width: 260px;
}

.sidebar2 {
  width: 45px;
  margin: auto;
  
}

#me img {
  border: 5px solid #FFFFFF;
  width: 250px;
  height: 250px;
}

h1 {
  color: white;
  font-family: 'Montserrat';
  font-size: 200%;
  text-align: center;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card {
  background-image: url('../img/nope.jpg');
  background-size: cover;
  width: 200px;
  height: 200px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.flipped img {
  display: none;
}

/* Media Queries */
@media (min-width: 1300px) {
  .main-content {
    max-width: 1500px;
    margin: auto;
  }
}
